.name {
    text-align: center;
}
.position {
    text-align: center;
}

.big-border-bottom {
    border-bottom: 3px solid;
}

.section {
    border-bottom: 1px;
}

line {
    fill: none;
    stroke: #337ab7;
    stroke-width: 3;
    shape-rendering: crispEdges;
}

.picture {
    width: 150px;
    height: auto;
}
